*{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    width: 80%;
    position:fixed;
    z-index: 99;
    left: 50%;
    margin-left: -40%; 
}
header nav{
    padding: 17px;
    background-color: black;
    width: 90%;
    height: 50px;
}
header nav ul{
    display: flex;
}
header nav ul div{
    display: flex;
}
header nav div ul img{
    width: 100%;
}
header nav ul img.logosupercell{
    width: 90px;
}
header nav ul div li{
    list-style: none;
    margin: auto;
}
header nav ul div li a:hover{
    color: white;
}
header nav ul li a{
    color: gray;
    margin: 20px;
    text-decoration: none;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav ul div li img.supercellid{
    width: 140px;
}
header nav ul div li img.logosupercell{
    height: 50px;
}
header nav ul div li img.recherche{
    width: 25px;
}
.sectionOne{
    position: relative;
}
.sectionOne div{
    position: absolute;
}
.sectionOne figure img{
    width: 100%;
    height: 100%;
}
.sectionOne iframe{
    width: 100%;
    top: -200px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: fixed;
}
.sectionOne div.hero_text h2{
    top: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-align: center;
}
.sectionOne div.hero_text p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.sectionOne h2{
    display: flex;
    align-items: center;
    position: relative;
    left: 600px;
}
.sectionOne p{
    display: flex;
    align-items: center;
    position: relative;
    left: 600px;
    top: 300px;
}