header{
    display: flex;
    justify-content: center;
}
header nav{
    background-color: black;
    width: 80%;
}
header nav ul{
    display: flex;
}
header nav ul div{
    display: flex;
}
header nav div ul img{
    width: 170px;   
}
header nav ul img.logosupercell{
    height: 50px;
}
header nav ul div li{
    padding: 10px; 
}
header nav ul li a{
    color: white;
    margin: 20px;
}
.sectionOne figure img{
    width: 100%;
}
.sectionTwo{
    display: flex;
}
.sectionTwo figure img{
    width: 600px;
}
.sectionThree{
    display: flex;
}
.sectionThree figure img{
    width: 250px ;
}
.sectionFive{
    display: flex;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul div li img.supercellid{
    height: 30px;
}