*{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: center;
}
header nav{
    background-color: black;
    width: 80%;
}
header nav ul{
    display: flex;
}
header nav ul div{
    display: flex;
}
header nav div ul img{
    width: 100%;   
}
header nav ul img.logosupercell{
    height: 50px;
}
header nav ul div li{
 padding: 10px; 
}
header nav ul li a{
    color: white;
    margin: 20px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav ul div li img.supercellid{
    height: 20px;
}
header nav ul div li img.logosupercell{
    height: 50px;
}
header nav ul div li img.recherche{
    width: 25px;
}
.sectionOne figure img{
    width: 100%;
}
.sectionTwo{
    display: flex;
}
.sectionTwo figure img{
    width: 600px;
}
.sectionTwo div.appstore_googleplay{
    display: flex;
    justify-content: start;
}
.sectionTwo div.appstore_googleplay figure img{
    width: 100px;
}
.sectionThree{
    display: flex;
}
.sectionThree figure img{
    width: 300px;
}
.sectionFour{
    background-image: url(bg_gamesocial_brawlstars.jpg);
    color: white;
    display: flex;
    margin-bottom: 100px;
}
.text_align_item_center{
    display: flex;
    align-items: center;
}
.sectionFive{
    display: flex;
    justify-content: center;
}
.sectionFive div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionFive div iframe{
    margin: 15px;
}
.sectionFive div h4{
    color: gray;
}
.sectionFive div figure img{
    width: 150px;
    list-style: none;
    background-color: white;
}
.sectionSix{
    background-color: black;
}
.sectionSix h5{
    color: white;
}
.sectionSix div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social_media{
    display: flex;
    justify-content: flex-start;
}
.social_media figure img{
    height: 20px;
}
.app_store{
    display: flex;
    justify-content: flex-end;
}
.app_store figure img{
    height: 40px;
}
.partie_2 figure img{
    width: 80px;
}
